body {
    background-color: darkgray;
    color:black;
    font-family: Arial, sans-serif;
}
header {
    background-color: darkolivegreen;
    color:black;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}
h2 {
    color: darkolivegreen;
}
p {
    font-size: 18px;
    line-height: 1.6;
}